<div class="ml-5">
  <h2><%= @task.title %></h2>
  <%= form_with url: "/tasks/#{@task.id}/update_status", method: :put do |form| %>
    <%= form.select :status, Task::STATUS.to_a, { selected: @task.status }, { class: "form-select mr-3 mt-5","aria-label": "Default select example"} %>
    <%= form.submit "更新", class: "btn btn-primary btn-sm"  %>
  <% end %>

  <p class="mt-5">詳細</p>
  <p><%=@task.description %></p>
  <p class="mt-5">期限</p>
  <p><%=@task.due_date %></p>
</div>
